/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  overflow: hidden; /* Prevent scrolling */
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* Add the following line to set the background image */
  background-image: url("../GameFiles/MenuAssets/menu.jpeg"); /* Replace 'path_to_your_image.jpg' with the actual path to your image */
  background-size: cover;
  width: 1500px;
  height: 900px;
}
#game-window {
  width: 1000px; /* Adjust width as needed */
  height: 800px; /* Adjust height as needed */
  border: 2px solid black; /* Border for the game window */
  position: absolute; /* Ensure positioning works as expected */
  top: 50%; /* Position the top edge of the game window at the vertical center of the screen */
  left: 50%; /* Position the left edge of the game window at the horizontal center of the screen */
  transform: translate(
    -50%,
    -50%
  ); /* Center the game window both horizontally and vertically */
  overflow: hidden; /* Hide content that exceeds the boundaries */
}
.level {
  display: none; /* Initially hide level sections */
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
}

#character {
  width: 50px; /* Adjust the width of the character */
  height: 50px; /* Adjust the height of the character */
  background-color: red; /* Set character color */
  position: absolute; /* Position the character relative to its containing block */
  bottom: 0; /* Adjust character's initial vertical position */
  left: 50%; /* Adjust character's initial horizontal position */
  transform: translateX(-50%); /* Center character horizontally */
}
